.topbar {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 700;
  padding-top: 1vw;
  min-width: 760px;
  width: 80vw;
  column-gap: 0vw;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  border: solid 0px red;
  width: 20%;
  padding-left: 1vw;
}

.navbar {
  border: solid 0px red;
  width: 75%;
  display: flex;
  justify-content: flex-end;
}

.navmenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2vw;
  height: 100%;
}
.navmenu li {
  border: solid 0px red;
  flex-grow: 0;
}

.hamburgercontainer {
  display: none;
}
.hamburgericon {
  display: none;
  border: solid 0px red;
  width: 66px;
  height: 66px;
  margin: 40px;
}

.hamburgercontainer {
  display: none;
  flex-direction: column;
  background: #f7f7f7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  font-size: 5vw;
  text-align: center;
  padding: 5vw;
}
.hamburgercontainer li {
  padding: 3vw;
  line-height: 8vw;
}

.close {
  color: #568a34;
  font-size: 60%;
  padding-bottom: 10vw;
  padding-top: 5vw;
}

.navmenu a:hover {
  color: #76ab56;
}

@media only screen and (min-width: 0px) and (max-width: 1269px) {
  .navmenu {
    display: none;
  }
  .hamburgericon {
    display: block;
  }
  .logo {
    width: 100%;
  }
  .hamburgercontainer .logo {
    margin-left: 3vw;
    margin-bottom: 5vw;
  }

  .close {
    font-size: 100%;
    padding: 2vw;
  }
  .hamburgercontainer {
    font-size: 4vw;
    align-items: stretch;
  }

  .hamburgercontainer li {
    padding: 0.5vw;

    background: #76ab56;
    margin: 1vw;
  }
  .logo {
    padding: 4vw;
  }

  .hamburgericon {
    margin: 40px;
    margin-top: 32px;
  }
  .hamburgercontainer .logo {
    margin-bottom: 5vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .close {
    font-size: 100%;
    padding: 6vw;
  }
  .hamburgercontainer {
    font-size: 3vw;
  }

  .hamburgercontainer li {
    padding: 0.5vw;
  }
  .logo {
    padding: 4vw;
    margin-left: 2vw;
  }

  .hamburgericon {
    margin: 40px;
    margin-top: 32px;
  }
  .hamburgercontainer .logo {
    margin-bottom: 5vw;
  }
}

@media only screen and (min-width: 667px) and (max-width: 767px) {
  .close {
    font-size: 100%;
    padding: 10vw;
  }
  .hamburgercontainer {
    font-size: 4vw;
  }

  .hamburgercontainer li {
    padding: 2vw;
  }
  .logo {
    padding: 4vw;
  }

  .hamburgericon {
    margin: 40px;
    margin-top: 32px;
  }
  .hamburgercontainer .logo {
    margin-bottom: 5vw;
  }
}

@media only screen and (min-width: 500px) and (max-width: 666px) {
  .close {
    font-size: 100%;
    padding: 10vw;
  }
  .hamburgercontainer {
    font-size: 4vw;
  }

  .hamburgercontainer li {
    padding: 2vw;
  }
  .logo {
    padding: 4vw;
  }

  .hamburgericon {
    margin: 40px;
    margin-top: 32px;
  }
  .hamburgercontainer .logo {
    margin-bottom: 5vw;
  }
}

@media only screen and (min-width: 390px) and (max-width: 499px) {
  .close {
    font-size: 100%;
    padding: 25vw;
  }
  .hamburgercontainer {
    font-size: 10vw;
  }

  .hamburgercontainer li {
    padding: 10vw;
  }
  .logo {
    padding: 4vw;
  }

  .hamburgericon {
    margin: 40px;
    margin-top: 32px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 389px) {
  .close {
    font-size: 100%;
    padding: 25vw;
  }
  .hamburgercontainer {
    font-size: 10vw;
  }

  .hamburgercontainer li {
    padding: 10vw;
  }
  .logo {
    padding: 4vw;
  }

  .hamburgericon {
    margin: 40px;
    margin-top: 32px;
  }
  .hamburgercontainer .logo {
    margin-left: 6vw;
  }
}
