.container {
  width: 100%;
  max-height: 9vw;
  contain: content;
  box-shadow: 0vw 0.1vw #568a34;
}

.containergapless {
  width: 100%;
  contain: content;
  max-height: 0vw;
  border: solid 0px red;
}

.child {
  background-color: #568a34;
  margin-top: 5vw;
  min-height: 40vw;

  transform: rotate(358.5deg);
  position: relative;

  width: 120%;
}

.childoutline {
  border-top: solid 1px #76ab34;
  background-color: #76ab34;
  min-height: 0.2vw;
  box-shadow: 1px -4px 1px 2px #76ab34;
}

.childoutlineend {
  border-top: solid 1px #76ab34;
  background-color: #76ab34;
  min-height: 0.2vw;
  box-shadow: 1px -4px 1px 2px #76ab34;
}

.childoutlineendreverse {
  border-top: solid 1px #76ab34;
  background-color: #76ab34;
  min-height: 0.2vw;
  box-shadow: 1px -4px 1px 2px #76ab34;
}

.sectioncontainer {
  border: solid 0px grey;
  background-color: #568a34;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerend {
  width: 100%;
  max-height: 10vw;
  contain: content;
}

.childend {
  background-color: #f7f7f7;

  min-height: 40vw;

  transform: rotate(358.5deg);
  position: relative;

  width: 120%;
  top: 5vw;
}

.childreverse {
  background-color: #f7f7f7;
  margin-top: 5vw;
  min-height: 40vw;
  width: 120%;
  transform: rotate(358.5deg);
  position: relative;
  border: solid 0px red;
}

.sectioncontainerreverse {
  border: solid 0px grey;
  background-color: #f7f7f7;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.childendreverse {
  background-color: #568a34;

  min-height: 40vw;
  width: 120%;
  transform: rotate(358.5deg);
  position: relative;
  top: 5vw;

  border: solid 0px red;
}

.final {
  background-color: #f7f7f7;
  min-height: unset;
  max-height: 10vw;
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .child {
    margin-top: 4vw;
    width: 150%;
    min-height: 10vw;
  }

  .childoutline {
    min-height: 0.4vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .containerend {
    max-height: 10vw;
    box-shadow: 0px 0px 0px 0px #f7f7f7;
    border: solid 0px red;
  }

  .childend {
  }
  .childoutlineend {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .childreverse {
    margin-top: 4vw;
    width: 150%;
    min-height: 10vw;
  }

  .childendreverse {
    margin-top: 1vw;
    width: 120%;
    min-height: 500vw;
  }

  .childoutlineendreverse {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .final {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .child {
    margin-top: 4vw;
    width: 150%;
    min-height: 10vw;
  }

  .childoutline {
    min-height: 0.4vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .containerend {
    max-height: 10vw;
    box-shadow: 0px 0px 0px 0px #f7f7f7;
    border: solid 0px red;
  }

  .childend {
  }
  .childoutlineend {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .childreverse {
    margin-top: 4vw;
    width: 150%;
    min-height: 10vw;
  }

  .childendreverse {
    margin-top: 1vw;
    width: 120%;
    min-height: 500vw;
  }

  .childoutlineendreverse {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .final {
    display: none;
  }
}

@media only screen and (min-width: 667px) and (max-width: 767px) {
  .child {
    margin-top: 4vw;
    width: 150%;
    min-height: 10vw;
  }

  .childoutline {
    min-height: 0.5vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .containerend {
    max-height: 10vw;
    box-shadow: 0px 0px 0px 0px #f7f7f7;
    border: solid 0px red;
  }

  .childend {
  }
  .childoutlineend {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .childreverse {
    margin-top: 4vw;
    width: 150%;
    min-height: 10vw;
  }

  .childendreverse {
    margin-top: 1vw;
    width: 120%;
    min-height: 500vw;
  }

  .childoutlineendreverse {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .final {
    display: none;
  }
}

@media only screen and (min-width: 500px) and (max-width: 666px) {
  .child {
    margin-top: 4vw;
    width: 150%;
    min-height: 10vw;
  }

  .childoutline {
    min-height: 0.5vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .containerend {
    max-height: 10vw;
    box-shadow: 0px 0px 0px 0px #f7f7f7;
    border: solid 0px red;
  }

  .childend {
  }
  .childoutlineend {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .childreverse {
    margin-top: 4vw;
    width: 150%;
    min-height: 10vw;
  }

  .childendreverse {
    margin-top: 1vw;
    width: 120%;
    min-height: 500vw;
  }

  .childoutlineendreverse {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
    width: 100%;
  }

  .final {
    display: none;
  }
}

@media only screen and (min-width: 0px) and (max-width: 499px) {
  .child {
    margin-top: 4vw;
    width: 120%;
    min-height: 2000vw;
  }

  .childoutline {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .containerend {
    max-height: 20vw;
    box-shadow: 0px 0px 0px 0px #f7f7f7;
    border: solid 0px red;
  }

  .childend {
  }
  .childoutlineend {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .childreverse {
    margin-top: 4vw;
    width: 120%;
    min-height: 2000vw;
  }

  .childendreverse {
    margin-top: 4vw;
    width: 120%;
    min-height: 500vw;
  }

  .childoutlineendreverse {
    min-height: 1vw;
    box-shadow: 1px -4px 1px 2px #76ab34;
  }

  .final {
    display: none;
  }
}
