.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tablecontainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 1vw;
  flex-grow: 1;
}

.column {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19.5vw;
}

.title {
  background-color: #78ab56;
  width: 100%;
  font-weight: 500;
  font-size: 1.3vw;
  padding: 0.6vw;
  border-radius: 0.2vw 0.2vw 0.3vw 0.3vw;
}

.smalltitle {
  font-size: 0.7vw;
  padding: 0;
  margin: 0;
  line-height: 0.2vw;
  padding-top: 0.2vw;
}

.inner {
  border: solid 1px #78ab56;
  width: 97%;
  height: 100%;
  background: #f7fff3;
  border-radius: 0vw 0vw 0.5vw 0.5vw;
  padding-top: 3vw;
  padding-bottom: 2vw;
  box-shadow: 0px 0px 3px 0px grey;
}

.pricingcontainer {
  margin-bottom: 3.8vw;
}

.startingfrom {
  font-size: 0.8vw;
  padding-bottom: 0.9vw;
}
.price {
  font-weight: 600;
  font-size: 4vw;
  text-indent: -0.6ch;
}

.discount {
  text-indent: 4vw;
  margin-top: 0.6vw;
}

.offering {
  border-bottom: solid 1px #a6c998;
  font-size: 0.76vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}

.offeringend {
  font-size: 0.76vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}

.isitforyou {
  margin-top: 2vw;
  text-indent: 1vw;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
}

.questions {
  border-bottom: solid 1px #bfbfbf;
  font-size: 0.92rem;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}

.action {
  font-weight: 500;
  font-size: 2rem;
  background-color: red;
}

.price b {
  padding: 0;
  margin: 0;
  font-size: 2vw;
  font-weight: inherit;
  vertical-align: top;
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .tablecontainer {
    flex-direction: column;
    column-gap: 0;
    row-gap: 12vw;
  }
  .column {
    width: 100%;
  }
  .inner {
    padding-bottom: 10vw;
  }
  .title {
    font-size: 6vw;
    padding: 3vw;
    padding-bottom: 1vw;
  }

  .smalltitle {
    margin-top: 2vw;
    padding: 2vw;
    font-size: 3vw;
  }

  .startingfrom {
    font-size: 5vw;
    padding-bottom: 8vw;
    margin-top: 10vw;
  }

  .price {
    font-size: 20vw;
  }
  .price b {
    font-size: 7vw;
  }

  .discount {
    font-size: 5vw;
    padding-top: 7vw;
    margin-bottom: 14vw;
    text-indent: 11vw;
  }

  .offering {
    font-size: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
  .offeringend {
    font-size: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }

  .isitforyou {
    margin-top: 8vw;
    text-indent: 5vw;
    font-size: 5vw;
    margin-bottom: 3vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tablecontainer {
    flex-direction: column;
    column-gap: 0;
    row-gap: 12vw;
  }
  .column {
    width: 100%;
  }
  .inner {
    padding-bottom: 10vw;
  }
  .title {
    font-size: 6vw;
    padding: 3vw;
    padding-bottom: 1vw;
  }

  .smalltitle {
    margin-top: 2vw;
    padding: 2vw;
    font-size: 3vw;
  }

  .startingfrom {
    font-size: 5vw;
    padding-bottom: 8vw;
    margin-top: 10vw;
  }

  .price {
    font-size: 20vw;
  }
  .price b {
    font-size: 7vw;
  }

  .discount {
    font-size: 5vw;
    padding-top: 7vw;
    margin-bottom: 14vw;
    text-indent: 11vw;
  }

  .offering {
    font-size: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
  .offeringend {
    font-size: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }

  .isitforyou {
    margin-top: 8vw;
    text-indent: 5vw;
    font-size: 5vw;
    margin-bottom: 3vw;
  }
}

@media only screen and (min-width: 667px) and (max-width: 767px) {
  .tablecontainer {
    flex-direction: column;
    column-gap: 0;
    row-gap: 20vw;
  }
  .column {
    width: 100%;
  }
  .inner {
    padding-bottom: 10vw;
  }
  .title {
    font-size: 6vw;
    padding: 3vw;
    padding-bottom: 1vw;
  }

  .smalltitle {
    margin-top: 2vw;
    padding: 2vw;
    font-size: 3vw;
  }

  .startingfrom {
    font-size: 5vw;
    padding-bottom: 7vw;
    margin-top: 10vw;
  }

  .price {
    font-size: 20vw;
  }
  .price b {
    font-size: 7vw;
  }

  .discount {
    font-size: 5vw;
    padding-top: 7vw;
    margin-bottom: 14vw;
    text-indent: 11vw;
  }

  .offering {
    font-size: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
  .offeringend {
    font-size: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }

  .isitforyou {
    margin-top: 8vw;
    text-indent: 5vw;
    font-size: 5vw;
    margin-bottom: 3vw;
  }
}

@media only screen and (min-width: 500px) and (max-width: 666px) {
  .tablecontainer {
    flex-direction: column;
    column-gap: 0;
    row-gap: 20vw;
  }
  .column {
    width: 100%;
  }
  .inner {
    padding-bottom: 10vw;
  }
  .title {
    font-size: 8vw;
    padding: 4vw;
    padding-bottom: 1vw;
  }

  .smalltitle {
    margin-top: 2vw;
    padding: 4vw;
    font-size: 4vw;
  }

  .startingfrom {
    font-size: 5vw;
    padding-bottom: 7vw;
    margin-top: 10vw;
  }

  .price {
    font-size: 20vw;
  }
  .price b {
    font-size: 7vw;
  }

  .discount {
    font-size: 5vw;
    padding-top: 7vw;
    margin-bottom: 14vw;
    text-indent: 11vw;
  }

  .offering {
    font-size: 4vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
  .offeringend {
    font-size: 4vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }

  .isitforyou {
    margin-top: 8vw;
    text-indent: 5vw;
    font-size: 5vw;
    margin-bottom: 3vw;
  }
}

@media only screen and (min-width: 390px) and (max-width: 499px) {
  .tablecontainer {
    flex-direction: column;
    column-gap: 0;
    row-gap: 20vw;
  }
  .column {
    width: 100%;
  }
  .inner {
    padding-bottom: 20vw;
  }
  .title {
    font-size: 12vw;
    padding: 5vw;
    padding-bottom: 2vw;
  }

  .smalltitle {
    margin-top: 4vw;
    padding: 3vw;
    font-size: 4.5vw;
  }

  .startingfrom {
    font-size: 7vw;
    padding-bottom: 10vw;
    margin-top: 20vw;
  }

  .price {
    font-size: 30vw;
  }
  .price b {
    font-size: 7vw;
  }

  .discount {
    font-size: 5vw;
    padding-top: 10vw;
    margin-bottom: 28vw;
    text-indent: 27vw;
  }

  .offering {
    font-size: 5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }
  .offeringend {
    font-size: 5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
  }

  .isitforyou {
    margin-top: 10vw;
    text-indent: 5vw;
    font-size: 6vw;
    margin-bottom: 2vw;
  }
}

@media only screen and (min-width: 0px) and (max-width: 389px) {
  .tablecontainer {
    flex-direction: column;
    column-gap: 0;
    row-gap: 25vw;
  }
  .column {
    width: 100%;
  }
  .inner {
    padding-bottom: 20vw;
  }
  .title {
    font-size: 16vw;
    padding: 6vw;
    padding-bottom: 3vw;
  }

  .smalltitle {
    margin-top: 6vw;
    padding: 4vw;
    font-size: 7vw;
  }

  .startingfrom {
    font-size: 8vw;
    padding-bottom: 11.5vw;
    margin-top: 18vw;
  }

  .price {
    font-size: 35vw;
  }

  .price b {
    font-size: 8vw;
  }

  .discount {
    font-size: 6vw;
    padding-top: 8vw;
    margin-bottom: 20vw;
    text-indent: 35vw;
  }

  .offering {
    font-size: 7.5vw;
    padding: 2vw;
    padding-top: 2.1vw;
    padding-bottom: 2.1vw;
  }
  .offeringend {
    font-size: 7vw;
    padding-top: 2.1vw;
    padding-bottom: 2.1vw;
  }

  .isitforyou {
    margin-top: 14vw;
    text-indent: 5vw;
    font-size: 8vw;
    margin-bottom: 5vw;
  }
}
